@using PerformanceAnalyst.Dtos;
@model ProductComparisionDto;
@{
    ViewBag.Title = "My Store";
    Layout = "~/Views/Shared/_Layout.cshtml"; // You can specify your layout page here
}

<div>
    <p>@Model.Name</p>
    <p>@Model.Sku</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Store</th>
            <th>Link</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var price in Model.Prices)
        {
            <tr>
                <td>
                    <img src="@price.LogoUrl" /> 
                    @price.Store
                </td>
                <td>@price.Link</td>
                <td>@price.Price</td>
            </tr>
        }
    </tbody>
</table>