@using PerformanceAnalyst.Dtos;
@model ProductComparisionDto;
@{
    ViewBag.Title = "My Store";
    Layout = "~/Views/Shared/_Layout.cshtml"; // You can specify your layout page here
}

<div>
    <h1>@Model.Name</h1>
    <h3>Time to execute: @Model.TimeToExecute</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Store</th>
            <th>Link</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var price in Model.Prices)
        {
            <tr>
                <td>
                    <img src="@price.LogoUrl" /> 
                    @price.Store
                </td>
                <td><a href="@price.Link">Buy now</a></td>
                <td>@price.Price</td>
            </tr>
        }
    </tbody>
</table>